<div class="work-content">
	<div class="row">
		<div class="col-sm-4">
			{% for work in site.works %}
				{% if work.column == 1 %}
					<a onclick="showImage('{{ work.image_path }}')"> 
						<img src="{{ work.image_path }}"/>
					</a>
					<a onclick="showImage('{{ work.image_path }}')">{{ work.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-4">
			{% for work in site.works %}
				{% if work.column == 2 %}
					<a onclick="showImage('{{ work.image_path }}')"> 
						<img src="{{ work.image_path }}"/>
					</a>
					<a onclick="showImage('{{ work.image_path }}')">{{ work.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-sm-4">
			{% for work in site.works %}
				{% if work.column == 3 %}
					<a onclick="showImage('{{ work.image_path }}')"> 
						<img src="{{ work.image_path }}"/>
					</a>
					<a onclick="showImage('{{ work.image_path }}')">{{ work.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
